<div id="carrito-list">
  <h1>Carrito {{cart.id}}</h1>
  
  {{#each cart.productscarrito}}
    <div class="carrito-card">
      <h2>Producto {{addOne @index}} </h2>
      <p><strong>ID del producto:</strong> {{product}}</p>
      <p><strong>Cantidad:</strong> {{quantity}}</p>
    </div>
  {{/each}}

</div>

<style>
  .carrito-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    width: 200px;
    text-align: center;
    display: inline-block;
    background-color: #f9f9f9;
  }
</style>


